// Comes from https://github.com/timhuisman/css-social-media-buttons

//
// Mixins
// ------------------------------------------------------------------------------------

@mixin box-shadow ( $arguments ) {
  -webkit-box-shadow: $arguments;
  box-shadow: $arguments;
}

@mixin border-radius ( $radius ) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

//
// Variables
// ------------------------------------------------------------------------------------

$img-path: "../images"; // Path to the folder where the sprites are stored
$button-list: ();
$button-alt-list: ();

$btn-size: 28px;

$radius-rounded: 8px;
$radius-round: 16px;

// Percentages by which the base color of the icon will be made lighter/darker
$diff-large: 25%; // Used for: color of the inner shadow
$diff-small: 10%; // Used for: background color in hover, focus & active state

// Variables can be used to turn on/off button types: one of the two must always be true
$default: true;
$flat: true;
// Variables can be used to turn on/off button styles
$border: true;
$rounded: true;
$round: true;
// Variables can be used to turn on/off button style for certain type of elements
$anchors: true; // <a> elements
$buttons: true; // <button> elements

//
// Styling
// ------------------------------------------------------------------------------------

.csmb, .csmb-flat {
  content: '';
  background-image: url('#{$img-path}/sprite-rsmb.png');
  background-repeat: no-repeat;
  -webkit-transition: background-color 0.25s ease;
  -moz-transition: background-color 0.25s ease;
  -ms-transition: background-color 0.25s ease;
  -o-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
  text-indent: -9999px;
  font-size: 0;
  line-height: 0;
  display: inline-block;
  width: $btn-size;
  height: $btn-size;
  margin: 4px;
  padding: 0;
  position: relative;
  z-index: 200;

  &:before, &:after {
    content: '';
    display: block;
    width: $btn-size;
    height: $btn-size;
    position: absolute;
      top: 0;
      left: 0;
  }

  &:before {
    z-index: 100;
  }

  &:after {
    z-index: 300;
  }

  // Use larger sprite (2 x 28pixels) for Retina display
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {
    background-image: url('#{$img-path}/sprite-rsmb-x2.png');
    -webkit-background-size: 84px;
    -moz-background-size: 84px;
    background-size: 84px;
  }
}

@if $buttons == true {
  button {
    &.csmb, &.csmb-flat {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border: none;
      cursor: pointer;
      padding: 0;
    }
  }
}

// Default
@if $default == true {
  .csmb {
    &:before {
      @include box-shadow( 0 0 4px 0 rgba( 0, 0, 0, 0.25 ) );
    }

    &:after {
      background: -moz-linear-gradient(top,  rgba( 255,255,255,0.25 ) 0%, rgba( 255,255,255,0 ) 100% );
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba( 255,255,255,0.25 ) ), color-stop( 100%, rgba( 255,255,255,0 ) ) );
      background: -webkit-linear-gradient(top,  rgba( 255,255,255,0.25 ) 0%, rgba( 255,255,255,0 ) 100% );
      background: -o-linear-gradient(top,  rgba( 255,255,255,0.25 ) 0%, rgba( 255,255,255,0 ) 100% );
      background: -ms-linear-gradient(top,  rgba( 255,255,255,0.25 ) 0%, rgba( 255,255,255,0 ) 100% );
      background: linear-gradient(to bottom,  rgba( 255,255,255,0.25 ) 0%, rgba( 255,255,255,0 ) 100% );
    }
  }
}

// Flat
@if $flat == true {
  .csmb-flat {
    &:before {
      @include box-shadow( 0 0 1px 0 rgba( 0, 0, 0, 0.25 ) );
    }
  }
}

// Rounded
@if $rounded == true {
  .csmb-rounded, .csmb-rounded:before, .csmb-rounded:after {
    @include border-radius( $radius-rounded ); 
  }
}

// Round
@if $round == true {
  .csmb-round, .csmb-round:before, .csmb-round:after {
    @include border-radius( $radius-round ); 
  }
}

// Bordered
@if $border == true {
  .csmb-border {
    &:before {
      border: solid 2px #fff;
      width: ($btn-size + 4);
      height: ($btn-size + 4);
      top: -4px;
      left: -4px;
    }

    &:after {
      top: -2px;
      left: -2px;
    }

    @if $rounded == true {
      &.csmb-rounded {
        @include border-radius( $radius-rounded - 4 );

        &:before {
          @include border-radius( $radius-rounded + 2 );
        }
      }
    }

    @if $round == true {
      &.csmb-round {
        &:before {
          @include border-radius( $radius-round + 2 );
        }
      }
    }
  }
}

// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! //
// Remove/Comment out the buttons below that you won't use, to keep the CSS file small. //
// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! //

/*$button-list: append($button-list, ('.bitbucket', #205081, -56px -84px ));
$button-list: append($button-list, ('.blogger', #FC4F08, -56px -168px ));
$button-list: append($button-list, ('.delicious', #EEE, -56px -196px ));
$button-list: append($button-list, ('.deviantart', #4E6252, -28px -28px ));
$button-list: append($button-list, ('.digg', #383838, -56px -224px ));
$button-list: append($button-list, ('.dropbox', #3D9AE8, -28px -364px ));
$button-list: append($button-list, ('.drupal', #F8F8F8, -28px -252px ));*/
$button-list: append($button-list, ('.facebook', #3B5998, 0 0 ));
$button-alt-list: append($button-alt-list, ('.facebook.alt', -28px -84px ));
/*$button-list: append($button-list, ('.flickr', #F8F8F8, 0 -28px ));
$button-list: append($button-list, ('.foursquare', #25a0ca, 0 -56px ));
$button-alt-list: append($button-alt-list, ('.foursquare.alt', -28px -140px ));*/
$button-list: append($button-list, ('.github', #F8F8F8, 0 -84px ));
$button-alt-list: append($button-alt-list, ('.github.alt', 0 -112px ));
$button-list: append($button-list, ('.github-alt', #383838, -56px 0 ));
$button-list: append($button-list, ('.gplus', #DD4B39, 0 -140px ));
/*$button-list: append($button-list, ('.grooveshark', #F77F00, -56px -56px ));
$button-list: append($button-list, ('.icheckmovies', #383838, 0 -476px ));
$button-list: append($button-list, ('.imdb', #F3CE13, -56px -140px ));
$button-list: append($button-list, ('.instagram', #937266, -28px -392px ));
$button-list: append($button-list, ('.instagram-alt', #3F729B, -28px -420px ));
$button-list: append($button-list, ('.issuu', #F8F8F8, -28px -168px ));
$button-list: append($button-list, ('.lastfm', #C3000D, 0 -168px ));
$button-list: append($button-list, ('.linkedin', #0E76A8, 0 -196px ));
$button-list: append($button-list, ('.mail', #F8F8F8, 0 -224px ));
$button-list: append($button-list, ('.myspace', #313246, -28px -308px ));
$button-list: append($button-list, ('.path', #E41F11, 0 -252px ));
$button-list: append($button-list, ('.paypal', #1E477A, -28px -280px ));
$button-list: append($button-list, ('.pinterest', #C8232C, -28px -336px )); // Black BG color: #383838
$button-list: append($button-list, ('.reddit', #CEE2F8, -56px -252px ));
$button-list: append($button-list, ('.rss', #EE802F, 0 -280px ));
$button-list: append($button-list, ('.skype', #00AFF0, -28px 0 ));
$button-list: append($button-list, ('.soundcloud', #FF7700, -28px -112px ));
$button-list: append($button-list, ('.spotify', #81B71A, -28px -196px ));
$button-list: append($button-list, ('.stumbleupon', #F74425, -28px -56px ));
$button-list: append($button-list, ('.tumblr', #34526F, 0 -308px ));*/
$button-list: append($button-list, ('.twitter', #00ACEE, 0 -336px ));
$button-alt-list: append($button-alt-list, ('.twitter.alt', 0 -364px ));
/*$button-list: append($button-list, ('.vimeo', #86C9EF, 0 -392px ));
$button-list: append($button-list, ('.vine', #00A478, -56px -28px ));
$button-list: append($button-list, ('.wordpress', #21759B, -28px -224px )); // Grey BG color: #464646
$button-list: append($button-list, ('.yelp', #C41200, -56px -112px ));
$button-list: append($button-list, ('.youtube', #F8F8F8, 0 -420px ));
$button-list: append($button-list, ('.youtube-alt', #C4302B, 0 -448px ));
$button-alt-list: append($button-alt-list, ('.youtube-alt.alt', -28px -476px ));*/

// Base buttons
@if length($button-list) > 0 { // Only loop if list has items to avoid compile errors
  @each $button in $button-list {
    $color: nth($button, 2);

    #{nth($button, 1)} {
      background-color: $color;
      background-position: nth($button, 3);

      // Default
      @if $default == true {
        &.csmb {
          @include box-shadow( inset 0 1px 2px 0 lighten( $color, $diff-large ) );
        }
      }

      // Bordered
      @if $border == true {
        &.csmb-border {
          &:after {
            border: solid 2px darken( $color, $diff-small );
          }
        }
      }
    }

    @if $anchors == true or $buttons == true {
      a, button {
        &#{nth($button, 1)} {
          &:hover, &:focus {
            background-color: lighten( $color, $diff-small );
          }

          &:active {
            background-color: darken( $color, $diff-small );
          }
        }
      }
    }
  }
}

// Alternative buttons
@if length($button-alt-list) > 0 { // Only loop if list has items to avoid compile errors
  @each $button-alt in $button-alt-list {
    #{nth($button-alt, 1)} {
      background-position: nth($button-alt, 2);
    }
  }
}