@font-face {
    /* Norwester font by Jamie Wilson: http://jamiewilson.io/norwester/ */
    font-family: "Norwester";
    src: url("../fonts/norwester.woff");
}

body {
    /* Background image from: http://subtlepatterns.com/transparent-square-tiles/ */
    background-image: url("../images/background2.png");
}

#header {
    text-align: center;
    font-family: "Norwester";
    margin-bottom: 30px;

    h1 {
        font-size: 50px;
    }

    p {
        font-size: 24px;
        margin-top: -20px;
    }
}

#opponentSelection {
    text-align: center;
    margin-bottom: 50px;

    input[type="button"] {
        border: solid 2px orange;
        background: #FBFBFB;
        width: 200px;
        height: 50px;

        &:first-of-type {
            margin-right: 30px;
        }
    }
}

#messages {
    text-align: center;
    margin-bottom: 50px;
    font-size: 30px;
}

#boardWrapper {
    text-align: center;
    margin-bottom: 50px;

    #board {
        display: inline-block;

        .cell {
            display: inline;
            float: left;
            border: solid 1px black;
            width: 50px;
            height: 50px;
            font-family: "Norwester";
            font-size: 50px;
            line-height: 55px;

            &:first-of-type {
                border-left: none;
            }

            &:last-of-type {
                border-right: none;
            }

            &.validForMove {
                background: #458B00;
                opacity: 0.5;
            }
        }

        .row {
            &:first-of-type > .cell {
                border-top: none;
            }

            &:nth-of-type(3) > .cell {
                border-bottom: none;
            }
        }

        .grid {
            display: inline;
            float: left;
            width: 160px;
            height: 160px;
            padding: 5px;
            border: solid 5px black;

            &:nth-of-type(3n + 1) {
                border-left: none;
                clear: left;
            }

            &:nth-of-type(3n) {
                border-right: none;
            }

            &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3) {
                border-top: none;
            }

            &:nth-of-type(7), &:nth-of-type(8), &:nth-of-type(9) {
                border-bottom: none;
            }

            &:last-of-type {
                border-right: none;
            }

            .gridWinner {
                font-family: "Norwester";
                font-size: 130px;
                margin-top: 20px;
            }
        }
    }
}

#howToPlay {
    text-align: center;

    h2 {
        font-family: "Norwester";
        margin-bottom: 40px;
    }
}