<!DOCTYPE html>
<html ng-app="tic-tac-tic-tac-toe-app">
    <head>
        <title>Tic-tac-tic-tac-toe | MMO tic-tac-toe, with a twist</title>

        <!-- Firebase and Angular JS files --> 
        <script src="https://cdn.firebase.com/js/client/1.0.11/firebase.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
        <script src="https://cdn.firebase.com/libs/angularfire/0.7.1/angularfire.min.js"></script>

        <!-- Custom JS files -->
        <script src="js/ticTacTicTacToe.js"></script>

        <!-- Custom CSS files -->
        <link rel="stylesheet" href="css/ticTacTicTacToe.css" />
    </head>

    <body ng-controller="TicTacTicTacToeController">
        <div id="header">
            <h1>Tic-tac-tic-tac-toe</h1>
            <p>MMO tic-tac-toe, with a twist</p>
        </div>
        
        <div id="opponentSelection" ng-hide="isGameInProgress()">
            <input type="button" value="Random Opponent" ng-click="joinVersusGame()" />
            <input type="button" value="Play with the crowd" ng-click="joinMMOGame()" />
        </div>

        <div id="messages">
            {{ message }}
        </div>

        <div id="boardWrapper">
            <div id="board">
                <div class="grid" ng-repeat="grid in grids">
                    <div class="row" ng-repeat="row in grid" ng-hide="gridWon(grid)">
                        <div class="cell" ng-class="getCellClass($parent.$parent.$index, $parent.$index, $index)" ng-repeat="cell in row track by $index" ng-click="addMove($parent.$parent.$index, $parent.$index, $index)">
                            {{ cell }}
                        </div>
                    </div>

                    <div class="gridWinner" ng-show="gridWon(grid)">{{ gridWon(grid) }}</div>
                </div>
            </div>
        </div>

        <div id="howToPlay">
            <h2>How To Play</h2>
            <p>The goal of the game is to win the big tic-tac-toe board. In order to earn one of the nine square in the big grid, you must win the smaller tic-tac-toe board contained within it.</p>
            <p>Where you move determines which board your opponent will then have to make a move in. For example, if you choose the top right cell of the center grid, your opponent will then have to choose a cell in the top right grid.</p>
            <p>In order to win a grid, you must either get three of your marker in a row or get five of your marker anywhere in a grid.</p>
            <p>If your move would force your opponent to play in a grid which has already been won, your opponent is allowed to select any open cell on the whole board.</p>
        </div>

        <!-- TODO: add 'Powered by Firebase' here -->
    </body>
</html>