<!DOCTYPE html>
<html ng-app="tic-tac-tic-tac-toe-app">
    <head>
        <title>Tic-tac-tic-tac-toe | Tic-tac-toe, with a twist</title>

        <!-- Firebase and Angular JS files --> 
        <script src="https://cdn.firebase.com/js/client/1.0.11/firebase.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
        <script src="https://cdn.firebase.com/js/simple-login/1.3.0/firebase-simple-login.js"></script>
        <script src="https://cdn.firebase.com/libs/angularfire/0.7.1/angularfire.min.js"></script>

        <link rel="stylesheet" href="css/socialIcons.css" />

        <!-- Custom JS files -->
        <script src="js/ticTacTicTacToe.js"></script>

        <!-- Custom CSS files -->
        <link rel="stylesheet" href="css/ticTacTicTacToe.css" />
    </head>

    <body ng-controller="TicTacTicTacToeController">
        <!-- Header -->
        <div id="header">
            <h1>Tic-tac-tic-tac-toe</h1>
            <p>Tic-tac-toe, with a multiplayer twist</p>
        </div>
        
        <!-- New game -->
        <div id="gameTypes" ng-hide="currentGame.hasStarted && !currentGame.winner">
            <input type="button" value="CPU opponent" ng-click="playCPU()" />
            <input type="button" value="Random opponent" ng-click="playRandomOpponent()" />
            <input type="button" value="Play with the crowd" ng-click="playMMO()" />
        </div>

        <!-- Game messages -->
        <div id="gameMessages">
            {{ message }}
        </div>

        <!-- Tic-tac-toe board -->
        <div id="boardWrapper">
            <div id="board">
                <div class="grid" ng-repeat="grid in currentGame.grids">
                    <div class="row" ng-repeat="row in grid" ng-hide="getGridWinner(grid)">
                        <div class="cell" ng-class="getCellClass($parent.$parent.$index, $parent.$index, $index)" ng-repeat="cell in row track by $index" ng-click="addMove($parent.$parent.$index, $parent.$index, $index)">
                            <span ng-class="getCellLogo(cell)" ></span>
                        </div>
                    </div>

                    <div class="gridWinner" ng-show="getGridWinner(grid)">{{ getGridWinner(grid) }}</div>
                </div>
            </div>
        </div>

        <div id="scoreboard">
            <h2>Scoreboard</h2>
            <p>
                <span class="csmb-flat csmb-round github-alt">GitHub Alt</span>
                <span>107 - 98<span>
                <span class="csmb-flat csmb-round facebook alt">Facebook Alt</span>
                <span class="csmb-flat csmb-round twitter">Twitter</span>
                <span class="csmb-flat csmb-round gplus">Google+</span>
            </p>
        </div>

        <!-- How to play -->
        <div id="howToPlay">
            <h2>How To Play</h2>
            <p>Win the big tic-tac-toe board by getting <span class="bold">three in a row</span> - either across, down, or diagonally - or getting a <span class="bold">majority of the squares</span>. In order to earn one of the nine squares in the big board, you must win the smaller tic-tac-toe board contained within it.</p>
            <p><span class="bold">Your opponent's previous move determines which board(s) you are allowed to play in</span>. For example, if your opponent chose the top right square of the center board, you would then have to choose an open square in the top right board.</p>
            <p>If your opponent's previous move would force you to play in a board which has already been won, you can select any open square on the whole board.</p>
            <p>The most recent move is shown in <span id="blue">blue</span> and your possible moves are shown in <span id="green">green</span>.</p>
        </div>

        <!-- Game modes -->
        <div id="gameModes">
            <h2>Game Modes</h2>
            <p><span class="bold">CPU opponent:</span> Test your wits against a computer AI.</p>
            <p><span class="bold">Random opponent:</span> Play against another random person on the Internet.</p>
            <p><span class="bold">Play with the crowd:</span> Test the wisdom of the crowd against a computer AI. You - along with every other human player - have five seconds to choose a next move. After that time, the most commonly chosen square is picked as the humans' collective move.</p>
        </div>

        <!-- Firebase badge -->
        <a id="firebaseBadge" href="https://www.firebase.com"><img src="./images/firebaseBadge.png" /></a>

        <!-- GitHub buttons (from https://github.com/mdo/github-buttons) -->
        <iframe id="gitHubStarButton" src="http://ghbtns.com/github-btn.html?user=jacobawenger&repo=tic-tac-tic-tac-toe&type=fork" allowtransparency="true" frameborder="0" scrolling="0" width="53" height="20"></iframe>
        <iframe id="gitHubFollowButton" src="http://ghbtns.com/github-btn.html?user=jacobawenger&repo=tic-tac-tic-tac-toe&type=follow" allowtransparency="true" frameborder="0" scrolling="0" width="150" height="20"></iframe>
    </body>
</html>