<!DOCTYPE html>
<html ng-app="tic-tac-tic-tac-toe-app">
    <head>
        <title>Tic-tac-tic-tac-toe | Tic-tac-toe, with a twist</title>

        <!-- Favicon -->
        <link rel="icon" type="image/png" href="./images/ticTacTicTacToeLogo.png">

        <!-- Firebase and Angular JS files -->
        <script src="https://cdn.firebase.com/js/client/1.0.11/firebase.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
        <script src="https://cdn.firebase.com/js/simple-login/1.3.0/firebase-simple-login.js"></script>
        <script src="https://cdn.firebase.com/libs/angularfire/0.7.1/angularfire.min.js"></script>

        <!-- Custom JS files -->
        <script src="js/ticTacTicTacToe.js"></script>

        <!-- Custom CSS files -->
        <link rel="stylesheet" href="css/ticTacTicTacToe.css" />
    </head>

    <body ng-controller="TicTacTicTacToeController">
        <!-- Header -->
        <div id="header">
            <h1>Tic-tac-tic-tac-toe</h1>
            <p>Tic-tac-toe, with a multiplayer twist</p>
        </div>

        <!-- Logout button -->
        <div id="logoutButton" ng-click="logoutUser()" ng-show="loggedInUser">
            Logout
        </div>

        <!-- Login buttons -->
        <div id="loginButtons" ng-hide="loggedInUser">
            <div id="gitHubLoginButton" ng-click="joinGame('github')">
                <img src="./images/gitHubLogo.png" />
                <p>Join Team GitHub</p>
            </div>
            <div id="twitterLoginButton" ng-click="joinGame('twitter')">
                <img src="./images/twitterLogo.png" />
                <p>Join Team Twitter</p>
            </div>
            <div style="clear: both;"></div>
        </div>

        <!-- Game messages -->
        <div id="gameMessages" ng-show="loggedInUser">
            {{ gameMessage }}
        </div>

        <div id="boardWrapper">
            <!-- Tic-tac-toe grids -->
            <div id="board">
                <div class="grid" ng-repeat="grid in currentGame.grids">
                    <!-- Small tic-tac-toe grid -->
                    <div class="row" ng-repeat="row in grid" ng-hide="getGridWinner(grid)">
                        <div class="cell" ng-class="getCellClass($parent.$parent.$index, $parent.$index, $index)" ng-repeat="cell in row track by $index" ng-click="suggestMove($parent.$parent.$index, $parent.$index, $index)">
                            <p ng-show="cell == ''">{{ suggestions[$parent.$parent.$index][$parent.$index][$index] | replaceZeroWithEmptyString }}</p>
                            <img src="./images/gitHubLogo.png" ng-show="cell == 'github'" />
                            <img src="./images/twitterLogo.png" ng-show="cell == 'twitter'" />
                        </div>
                    </div>

                    <!-- Grid winner -->
                    <div class="gridWinner" ng-show="getGridWinner(grid)" ng-class="getGridWinnerClass($index)">
                        <img src="./images/gitHubLogo.png" ng-show="getGridWinner(grid) == 'github'" />
                        <img src="./images/twitterLogo.png" ng-show="getGridWinner(grid) == 'twitter'" />
                    </div>
                </div>
            </div>

            <!-- Stats container -->
            <div id="statsContainer">
                <!-- Scoreboard -->
                <p class="statsSectionTitle">Seconds Until Next Move</p>
                <div id="secondsUntilNextMove">
                    <p>{{ currentGame.numSecondsUntilNextMove }}</p>
                </div>

                <!-- Scoreboard -->
                <p class="statsSectionTitle">Wins</p>
                <div id="scoreboard">
                    <div class="teamContainer" ng-class="getTeamContainerClass('github')">
                        <img src="./images/gitHubLogo.png" />
                        <p>{{ wins.github }}</p>
                    </div>
                    <div class="divider"></div>
                    <div class="teamContainer" ng-class="getTeamContainerClass('twitter')">
                        <p>{{ wins.twitter }}</p>
                        <img src="./images/twitterLogo.png" />
                    </div>
                </div>

                <!-- Number of players -->
                <p class="statsSectionTitle">Team Size</p>
                <div id="numCurrentPlayers">
                    <div class="teamContainer" ng-class="getTeamContainerClass('github')">
                        <img src="./images/gitHubLogo.png" />
                        <p>{{ numGitHubUsers }}</p>
                    </div>
                    <div class="divider"></div>
                    <div class="teamContainer" ng-class="getTeamContainerClass('twitter')">
                        <p>{{ numTwitterUsers }}</p>
                        <img src="./images/twitterLogo.png" />
                    </div>
                </div>

                <!-- Play by play ticker -->
                <p class="statsSectionTitle">Play By Play</p>
                <div id="playByPlayTicker">
                    <div id="event" ng-repeat="event in events | orderByPriority | reverse">
                        <div class="event" ng-class="event.type">
                            <img ng-src="{{ event.imageUrl }}" />
                            <div class="textWrapper">
                                <p ng-show="event.type == 'suggestion'">
                                    <a class="username" ng-href="{{ event.userUrl }}" target="_blank">@{{ event.username }}</a>
                                    <span>{{ event.text }}</span>
                                </p>
                                <p ng-show="event.type == 'move' || event.type == 'gameOver'">
                                    <span class="teamName">Team {{ event.teamName }}</span>
                                    <span>{{ event.text }}</span>
                                </p>
                                <p ng-show="event.type == 'newGame'">{{ event.text }}</p>
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div style="clear: both;"></div>
        </div>

        <!-- How to play -->
        <div id="howToPlay">
            <h2>How To Play</h2>
            <p>Login with either your GitHub or Twitter account to join that team. You and your teammates will each individually suggest your team's next move. <span class="bold">The most popular square will be your team's collective move!</span></p>
            <p>Your goal is to win the big tic-tac-toe board by getting <span class="bold">three in a row</span> - either across, down, or diagonally - or getting a <span class="bold">majority of the squares in a full grid</span>. In order to earn one of the nine squares in the big board, you must win the smaller tic-tac-toe board contained within it.</p>
            <p><span class="bold">Your opponent's previous move determines in which board(s) you are allowed to play</span>. For example, if your opponent chose the top right square of the center board, you would then have to choose an open square in the top right board.</p>
            <p>If your opponent's previous move would force you to play in a board which has already been won, you can select any open square on the whole board.</p>
            <p>The most recent move is shown in <span id="blue">blue</span>, your team's possible moves are shown in <span id="green">green</span>, the move you suggested for your team is shown in <span id="orange">orange</span>, and the team which is currently deciding which square to choose is shown in <span id="gold">yellow</span>. The numbers in individual squares represent how many people have voted for those squares.</p>
        </div>

        <!-- Firebase badge -->
        <a id="firebaseBadge" href="http://www.firebase.com" target="_blank"><img src="./images/firebaseBadge.png" /></a>

        <!-- GitHub (from https://github.com/mdo/github-buttons) and Twitter buttons -->
        <div id="footer">
            <iframe id="gitHubStarButton" src="./github-btn.html?user=jacobawenger&repo=tic-tac-tic-tac-toe&type=fork&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="80" height="30"></iframe>
            <iframe id="gitHubFollowButton" src="./github-btn.html?user=jacobawenger&repo=tic-tac-tic-tac-toe&type=follow&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="220" height="30"></iframe>
            <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-url="https://tic-tac-tic-tac-toe.firebaseapp.com" data-text="Check out tic-tac-tic-tac-toe, tic-tac-toe with a multiplayer twist!" data-via="jacobawenger" data-related="firebase" data-size="large">Tweet</a>
        </div>

        <!-- Twitter intent script -->
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </body>
</html>